---
import card01 from '../assets/cards/card01.png'
import card02 from '../assets/cards/card02.png'
import card03 from '../assets/cards/card03.png'
import card04 from '../assets/cards/card04.png'
import card05 from '../assets/cards/card05.png'
import card06 from '../assets/cards/card06.png'
---


<div class="container mx-auto py-8">
  <!-- Título -->
  <div class="bg-gray-50 dark:bg-black rounded-lg shadow-lg p-8 mb-12">
    <h2 class="text-3xl font-extrabold tracking-tight text-green-900 dark:text-gray-100 sm:text-4xl mb-8">
      <span class="block dark:text-white">CONFIRA EM DETALHES</span>
      <span class="block text-green-600 dark:text-green-300">A PROTEÇÃO DE PISO.</span>
    </h2>
  </div>

  <div class="max-w-6xl mx-auto">
    <!-- Grade de imagens -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mb-4">
      <!-- Imagens -->
      <div class="col-span-1">
        <a href={card01.src}>
          <div class="rounded-lg overflow-hidden shadow-lg">
            <img src={card01.src} alt="Construction Step 1" class="w-full h-auto object-contain">
          </div>
        </a>
      </div>
      <div class="col-span-1">
        <a href={card02.src}>
          <div class="rounded-lg overflow-hidden shadow-lg">
            <img src={card02.src} alt="Construction Step 2" class="w-full h-auto object-contain">
          </div>
        </a>
      </div>
      <div class="col-span-1">
        <a href={card03.src}>
          <div class="rounded-lg overflow-hidden shadow-lg">
            <img src={card03.src} alt="Construction Step 3" class="w-full h-auto object-contain">
          </div>
        </a>
      </div>
      <div class="col-span-1">
        <a href={card04.src}>
          <div class="rounded-lg overflow-hidden shadow-lg">
            <img src={card04.src} alt="Construction Step 4" class="w-full h-auto object-contain">
          </div>
        </a>
      </div>
      <div class="col-span-1">
        <a href={card04.src}>
          <div class="rounded-lg overflow-hidden shadow-lg">
            <img src={card04.src} alt="Construction Step 5" class="w-full h-auto object-contain">
          </div>
        </a>
      </div>
      <div class="col-span-1">
        <a href={card05.src}>
          <div class="rounded-lg overflow-hidden shadow-lg">
            <img src={card05.src} alt="Construction Step 6" class="w-full h-auto object-contain">
          </div>
        </a>
      </div>
    </div>
  </div>




