---
import operacional from '../assets/cards-ketzim/operacional.png'
import marketing from '../assets/cards-ketzim/marketing.png'
import rh from '../assets/cards-ketzim/rh.png'
import ti from '../assets/cards-ketzim/ti.png'
import ketvi from '../assets/video-ketzim/ketvi.mp4'
import coverSVG from '../assets/undraw/capa-ketzim.svg'
---

<main class='container mx-auto px-4 py-20'>
  <div class='flex justify-center'>
    <div id='cardContainer' class='grid grid-cols-1 gap-8 md:grid-cols-2 mx-auto'></div>
  </div>
</main>

<div
  id='videoModal'
  class='fixed inset-0 flex hidden items-center justify-center bg-black bg-opacity-75'
>
  <div class='relative w-full max-w-md rounded-lg bg-white p-4'>
    <button id='closeModal' class='absolute right-0 top-0 p-4 text-gray-700 hover:text-black z-10'>
      <svg xmlns='http://www.w3.org/2000/svg' class='h-8 w-8' fill='none' viewBox='0 0 24 24' stroke='currentColor'>
        <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12'></path>
      </svg>
    </button>
    <div class='aspect-h-9 aspect-w-16'>
      <iframe
        id='modalVideo'
        class='absolute inset-0 h-full w-full'
        allowfullscreen
        frameborder='0'
        allowfullscreen></iframe>
    </div>
  </div>
</div>

<script>
  
  const ketvi = 'src/assets/video-ketzim/ketvi.mp4';

  const cards = [
    {
      title: 'Marketing',
      description: 'Inteligência Artificial de Marketing',
      link: 'https://dify.ketzim.com/chat/HVCktAY5xVfLTF2L',
      video_src: ketvi
    },
    {
      title: 'Administrativo',
      description: 'Inteligência Artificial de Administração',
      link: 'https://dify.ketzim.com/chat/7KZSTSqgnzLR7ho8',
      video_src: ketvi
    },
    {
      title: 'Auditoria',
      description: 'Inteligência Artificial de Auditoria',
      link: 'https://dify.ketzim.com/chat/yZlI3VMthI5mHkZs',
      video_src: ketvi
    },
    {
      title: 'Treinamento',
      description: 'Inteligência Artificial para Treinamento de Franqueados',
      link: 'https://dify.ketzim.com/chat/oTJ87fpYGak0SFuq',
      video_src: ketvi
    }
  ];


  const cardContainer = document.getElementById('cardContainer')

  cards.forEach((card) => {
    const cardHtml = `
          <div class="bg-white rounded-xl overflow-hidden shadow-md border border-gray-200 flex flex-col md:flex-row md:items-center relative p-4 md:p-6 md:w-96">
            <div class="flex-shrink-0 w-full md:w-40 h-40 md:h-auto overflow-hidden rounded-full bg-gray-300 relative">
              <iframe class="w-full h-full object-cover rounded-full border border-gray-200 inset-0" src="${card.video_src}" frameborder="0" allowfullscreen autoplay="false"></iframe>
              <button class="absolute inset-0 flex items-center justify-center w-full h-full bg-black bg-opacity-50 transition-opacity duration-300 hover:bg-opacity-70 rounded-full playButton" data-src="${card.video_src}">
                <svg class="w-12 h-12 text-white fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M8 5v14l11-7z" />
                      </svg>
                  </button>
              </div>
              <div class="flex-1 ml-4">
                  <h1 class="text-2xl font-bold text-green-600 hover:underline mb-2">${card.title}</h1>
                  <p class="text-gray-500 text-base mb-3">${card.description}</p>
                  <a href="${card.link}" target="_blank" class="inline-block bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-800 absolute bottom-4 right-4">Iniciar</a>
              </div>
          </div>
      `
    cardContainer.insertAdjacentHTML('beforeend', cardHtml)
  })

  const modal = document.getElementById('videoModal')
  const modalVideo = document.getElementById('modalVideo')
  const closeModal = document.getElementById('closeModal')


  function openModal(videoSrc) {
    modalVideo.src = videoSrc
    modal.classList.remove('hidden')
  }

  closeModal.addEventListener('click', () => {
    modalVideo.src = ''
    modal.classList.add('hidden')
  })

  const playButtons = document.querySelectorAll('.playButton')

  playButtons.forEach((button) => {
    button.addEventListener('click', (event) => {
      event.stopPropagation()
      const videoSrc = button.getAttribute('data-src')
      openModal(videoSrc)
    })
  })

  window.addEventListener('click', (event) => {
    if (event.target === modal) {
      closeModal.click()
    }
  })
</script>
