---
import pintor from '../assets/capa-protege/pintor.png'
import foto3 from "../assets/cards/foto03.png"
import foto1 from '../assets/cards/foto01.png'
import foto2 from '../assets/cards/foto02.png'
import protegepiso from '../assets/selos/protepiso.png'
import selobr from '../assets/selos/selobr.png'
import selovencedor from '../assets/selos/selo-vencedor.png'
---

<main class="container mx-auto p-4">
  <!-- Seção Resistência -->
  <section class="section mb-2">
    <div class="flex flex-col lg:flex-row items-center">
      <!-- Texto -->
      <div class="p-4 lg:w-1/2">
        <h2 class="text-3xl font-bold mb-2 text-green-900 dark:text-green-500">Resistência</h2>
        <p class="text-lg text-black dark:text-gray-300 mb-2">O sistema Protege Piso tem capacidade de resistir às ocorrências que sua obra exige.</p>
        <p class="text-lg text-black dark:text-green-600 mb-2">AQUI NÃO TEM IMPROVISO, TEM PROTEÇÃO!</p>
        <p class="text-lg text-black dark:text-gray-300 mb-2">O verso da placa possui tecnologia de absorção de impacto. São detalhes que ampliam a segurança na sua obra.</p>
        <p class="text-lg text-black dark:text-gray-300 mb-2">Protege Piso é o único sistema de proteção para pisos com desempenho garantido para áreas externas, internas e pisos de madeira.</p>
         <h3 class="text-2xl font-bold mb-2 text-green-900 dark:text-green-500">Instalação</h3>
      <p class="text-lg text-black dark:text-gray-300 mb-2">Solução completa, transporte, mão de obra, instalação, manutenção e retirada do sistema é totalmente executado pela Protege Piso sem custos extras.</p>
      <p class="text-lg text-black dark:text-gray-300 mb-2">A proteção do seu piso é nossa responsabilidade.</p>
      </div>
      <!-- Imagem -->
      <div class="p-2 lg:w-1/1">
        <img src={pintor.src} alt="pintor" class="w-full lg:max-h-50px object-cover rounded-lg">
      </div>
    </div>
  </section>

  <!-- Seção Instalação -->
  <section class="section mb-2">
    <div class="p-4">
   
    </div>
  </section>

  <!-- Seção Sistema de locação por m² -->
  <section class="section mb-2 ">
    <div class="p-4">
      <h3 class="text-2xl font-bold mb-2 text-green-900 dark:text-green-500">Sistema de locação por m²</h3>
      <p class="text-lg text-black dark:text-gray-300 mb-2">O sistema de proteção é alugado. Mais economia para sua obra e sustentabilidade ambiental.</p>
    </div>
  </section>

  <!-- Seção Garantia ilimitada Protege Piso -->
  <section class="section mb-2">
    <div class="p-4">
      <h3 class="text-2xl font-bold mb-2 text-green-900 dark:text-green-500">Garantia ilimitada Protege Piso</h3>
      <p class="text-lg text-black dark:text-gray-300 mb-2">Protegemos e mantemos seu piso protegido, um compromisso com o resultado. Antecipe o cronograma da sua obra e deixe a proteção de seu piso conosco!</p>
    </div>
  </section>

  <!-- Seção com imagens redondas -->
<section class="section mb-3">
  <div class="flex justify-center">
    <!-- Imagem 1 -->
    <div class="contenedor-imagen mx-4">
      <img src={foto3.src} alt="Imagem 1" class="imagen-redonda" style="margin-right: 10px;">
    </div>
    <!-- Imagem 2 -->
    <div class="contenedor-imagen mx-4">
      <img src={foto1.src} alt="Imagem 2" class="imagen-redonda" style="margin-right: 10px;">
    </div>
    <!-- Imagem 3 -->
    <div class="contenedor-imagen mx-4">
      <img src={foto2.src} alt="Imagem 3" class="imagen-redonda" style="margin-right: 10px;">
    </div>
  </div>
</section>

  <!-- Seção Novidades -->
  <section class="section mb-2">
    <div class="flex flex-col lg:flex-row items-center">
      <!-- Texto -->
      <div class="p-4 lg:w-1/2">
        <h2 class="text-3xl font-bold mb-2 text-green-900 dark:text-green-500">Novidades</h2>
        <p class="text-lg text-black dark:text-gray-300 mb-2 bg-white-500 p-4 rounded-md">
          Cuidamos de toda sua obra, conheça nossa linha de soluções:</p>
        <ul class="text-lg text-black dark:text-gray-300 mb-2">
          <li>Bancadas;</li>
          <li>Louças sanitárias;</li>
          <li>Metais;</li>
          <li>Banheiras;</li>
          <li>Móveis;</li>
        </ul>
      </div>
      <!-- Aside -->
      <aside class="p-4 lg:w-1/2 bg-green-500 text-white">
  <p class="text-3xl">Desde 2005 com a experiência e tecnologia para proteção profissional de pisos
     durante obras ou reformas.</p>
</aside>
    </div>
  </section>

  <!-- Seção Produto e Designer -->
  <section class="section mb-2">
    <div class="flex flex-col lg:flex-row items-center lg:items-start">
      <!-- Texto -->
      <div class="p-4 lg:w-1/2">
        <h2 class="text-3xl font-bold mb-2 text-green-900 dark:text-green-500">O Produto</h2>
        <p class="text-lg text-black dark:text-gray-300 mb-2 bg-white-500 p-4 rounded-md">O Protege Piso é um sistema inovador de placas flexíveis compostas de materiais de alta resistência e 100% reciclados.</p>
      </div>
      <!-- Aside -->
      <div class="p-4 lg:w-1/2">
        <h2 class="text-3xl font-bold mb-2 text-green-900 dark:text-green-500">Design</h2>
        <p class="text-lg text-black dark:text-gray-300 mb-2 bg-white-500 p-4 rounded-md">O design das placas foi projetado para gerar proteção completa e profissional para seu piso em qualquer condição. Instalação intuitiva, sulcos que drenam umidade e baixos relevos que retém resíduos.</p>
        <p class="text-lg text-black dark:text-gray-300 mb-2 bg-white-500 p-4 rounded-md">Desenho aerodinâmico e peso da placa, garantem a fixação sem uso de adesivos.</p>
      </div>
    </div>
  </section>

  <!-- Seção com imagens pequenas e quadradas -->
<section class="section mb-3">
  <div class="flex justify-center">
    <!-- Imagem 1 -->
    <div class="contenedor-imagen mx-4">
      <img src={protegepiso.src} alt="Peça de Proteção de Piso" class="imagen-quadrada" style="max-width: 100px; max-height: 200px;">
    </div>
    <!-- Imagem 2 -->
    <div class="contenedor-imagen mx-4">
      <img src={selobr.src} alt="Selo BR" class="imagen-quadrada" style="max-width: 130px; max-height: 200px;">
    </div>
    <!-- Imagem 3 -->
    <div class="contenedor-imagen mx-4">
      <img src={selovencedor.src} alt="Selo Prêmio Designer" class="imagen-quadrada" style="max-width: 130px; max-height: 200px;">
    </div>
  </div>
</section>
</main>

<div class="flex justify-center items-center bg-green-500 text-white py-8">
  <div class="text-center">
    <h2 class="text-2xl font-medium mb-4">Descubra as vantagens e benefícios de ser <br> um parceiro Protege Piso em sua região.</h2>
    <p class="text-lg"><strong><a href="https://api.whatsapp.com/send?phone=551639113911" target="_blank" class="text-white dark:text-blue-500">Entre em contato</a>
    </strong> conosco e descubra uma grande oportunidade de negócio.</p>
  </div>
</div>
